.btn-one {
    color: #FFF;
    transition: all 0.3s;
    width: 200px;
    position: relative;
    height: 60px;
    justify-content: center;
    display: flex;
    align-items: center;
    z-index: 1;
  }
  .btn-one span {
    white-space: nowrap;
    transition: all 0.3s;
  }
  .btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
  }
  .btn-one:hover span {
    letter-spacing: 2px;
  }
  .btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
  }
  .btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 60px;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
  }
  .btn-one:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }

  @media only screen and (max-width: 768px) {
    .btn-one {
      width: 100px;
      height: 30px;
    }
    .btn-one span {
      font-size: 14px;
    }
    .btn-one::before {
      width: 100px;
    }
    .btn-one::after {
      width: 100px;
      height: 30px;
    }
  }