.About {
    padding: 120px 175px;
}

.About_main {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; */
}

@media only screen and (max-width: 1250px) {
  .About {
      padding: 60px 50px;
  }
}